
@import url('https://fonts.googleapis.com/css2?family=Aubrey&family=DM+Sans:opsz,wght@9..40,200&family=Kanit:wght@200&family=Kurale&display=swap');
.container-style{
    /* height: 100%; */
    /* width:100%; */
    /* position:relative; */
    
}
.navbarHome{
    /* font-family: 'Kanit'; */
    /* color:white !important; */
    font-size: 18px;
    font-weight: bold;
}
.navBrand{
    font-size: 28px!important;
    color:white!important;

}
.navbar{
    position: sticky !important;
    top:0 !important;
    background: transparent !important;
    /* z-index: 999 !important;
    height: 80px !important;
    display: flex !important;
    justify-content: center !important;
     */
     
  }
  .navbar.active{
   background:  linear-gradient(90deg,rgb(2, 146, 194)0%,rgb(104, 236, 153)100%) !important;
  
  }
  